
/*------ extra small device ----------*/
@media (max-width: 575.98px) {
    #scoreboard{
         padding:8px;
         font-size: 16px;
         
    }
    .ghost{
        width:50px;
        height:50px;
    }

}
/*--------- small device ------------*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .ghost{
        width:60px;
        height:60px;
    }
 }
/*--------- medium device ------------*/
@media (min-width: 768px) and (max-width: 991.98px) { 
 .ghost{
        width:65px;
        height:65px;
    }
}
/* large device */
@media (min-width: 992px) and (max-width: 1199.98px) {
.ghost{
        width:70px;
        height:80px;
    }
}